*{
    /* height & width now includes border & padding, never changes elements inside */
   box-sizing: border-box; 
}

body{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: slategray;
}